
<html style='text-align:center'> <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/holiday.css@0.9.8">
{% extends 'base.html' %}
{% block favorites %}

{% for f in weatherinfo %}
<h3>
    <table border="2">
        <tr>
            <td>location:<input type="text" name="location" value="{{ f.location }}" readonly></td>
            <td>tempature: {{ f.temp }}°C</td>
            <td>minimum tempature: {{ f.temp_min }}°C</td>
            <td>maximum tempature: {{ f.temp_max }}°C</td>
            <td>feels like: {{ f.temp_feel}}°C</td>
            <td>humidity: {{ f.humidity }}%</td>
            <td>description: {{ f.description }}</td>
            <td><form method="POST"><button type="submit">Remove</button>{% csrf_token %}</form></td>
        </tr>
    </table>
{% endfor %}
</h3>
<!-- <form method="POST"><button type="submit">Remove all</button>{% csrf_token %}</form> -->
{% endblock %}
</html>