<html style='text-align:center'> <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/holiday.css@0.9.8">
{% extends 'base.html' %}
{% block weather %}
<h1>Weather app by Omer</h1>
<Head>
<h2>Please enter a location</h2>
<form method="POST" >
<input type="text" name='location' placeholder="Country/City" autofocus>
<input type="submit" >
{% csrf_token %}
</form>
{% if location == 'location doesnt exist' %}
<h2>{{ location }}</h2>
{% elif location == 'please enter a location' %}
<h2>{{ location }}</h2>
{% else %}
<h3><a href='/project/singleview?location={{ location }}&show_info_temp={{ show_info.temp }}&show_info_maxtemp={{ show_info.temp_max }}&show_info_mintemp={{ show_info.temp_min }}&show_info_feel={{ show_info.temp_feel }}&show_info_humid={{ show_info.humidity }}&show_info_description={{ show_info.description }}' title='More Information'>{{ location.capitalize }}</h3></a>
{% endif %}
<h3>
<table>
    <tr>
        <td>tempature: {{ show_info.temp }}°C</td>
        <td>minimum tempature: {{ show_info.temp_min }}°C</td>
        <td>maximum tempature: {{ show_info.temp_max }}°C</td>
        <td>feels like: {{ show_info.temp_feel }}°C</td>
    </tr>
</table>
</h3>
{% endblock %}
</html>

